{#
/**
 * @file
 * Default theme implementation for Liberty list.
 *
 * Available variables:
 * - count: This is a count of something
 *
 * @ingroup themeable
 */
#}
<p>{{ 'Below are the last !count pages you have visited.'|t({ '!count': count }) }}</p>